In [1]:
#Import pandas untuk input file csv
import pandas as pd

In [3]:
#Input data food delivery
data = pd.read_csv(r'E:/data sains/food_delivery_datasets.csv')
print(data)

        order_id  voucher_amount                   date_time  eta_seconds  \
0     FOOD-10455               0  2018-08-12T20:35:08.001006         1800
1     FOOD-10985               0  2018-09-23T17:44:12.243273         2173
2     FOOD-10911               0  2018-09-19T18:08:09.387991         1418
3     FOOD-10932               0  2018-09-21T01:24:35.272499         1903
4     FOOD-10961               0  2018-09-22T17:57:45.523161         1716
...          ...             ...                         ...          ...
1071  FOOD-10921               0  2018-09-20T15:01:52.152828          900
1072  FOOD-10265            5000  2018-07-26T14:43:23.655294         1579
1073  FOOD-10534               0  2018-08-21T20:10:59.283185         2606
1074  FOOD-10158               0  2018-07-16T14:42:23.214427         2428
1075  FOOD-10770               0  2018-09-11T14:18:19.494258         1547

      food_price  cust_id  rating  delivery_fee   resto_id     status  \
0          18900  1089034     5.0          4000  742638033  Completed
1         149000   180146     5.0         11000  742767245  Completed
2          43800   366528     NaN          9000  742618303  Completed
3          39900   511038     5.0         14000  742541172  Completed
4          77700  1220358     NaN          4000  742604875  Completed
...          ...      ...     ...           ...        ...        ...
1071      103200  1296335     5.0          4000  742742150  Completed
1072      145700  1135466     5.0          7000  742566851  Completed
1073      177200  1383625     NaN         15000  742571888  Completed
1074       49300  1094787     5.0          9000  742725064  Completed
1075       43000  1010922     5.0          9000  742594499  Completed

      random_id
0      0.511149
1      0.832936
2      0.828026
3      0.239377
4      0.995587
...         ...
1071   0.248328
1072   0.268251
1073   0.132528
1074   0.167946
1075   0.358051

[1076 rows x 11 columns]

In [16]:
# Mengambil data dengan resto dan ratingnya
data[["rating","resto_id"]]

      rating   resto_id
0        5.0  742638033
1        5.0  742767245
2        NaN  742618303
3        5.0  742541172
4        NaN  742604875
...      ...        ...
1071     5.0  742742150
1072     5.0  742566851
1073     NaN  742571888
1074     5.0  742725064
1075     5.0  742594499

[1076 rows x 2 columns]

In [17]:
#Menentukan resto dengan rating dibawah 5
Resto_rating_dibawah_5 = data.loc[data["rating"]<5]
Resto_rating_dibawah_5

,order_id,voucher_amount,date_time,eta_seconds,food_price,cust_id,rating,delivery_fee,resto_id,status,random_id
67,FOOD-10633,0,2018-08-31T11:47:18.090120,2474,397600,1505030,4.0,21000,742526724,Completed,0.734508
102,FOOD-10757,0,2018-09-09T22:14:22.172861,2401,82400,589253,3.0,9000,742534610,Completed,0.290218
161,FOOD-10440,0,2018-08-11T22:37:21.740749,1535,23900,884440,3.0,4000,742763083,Completed,0.904136
283,FOOD-10066,0,2018-07-07T12:29:31.077240,2166,35500,594262,4.0,9000,742531591,Completed,0.878220
319,FOOD-10269,0,2018-07-26T18:47:21.673104,2277,170500,59565,4.0,13000,742678768,Completed,0.481864
330,FOOD-10005,0,2018-07-01T16:31:35.700543,1341,30500,884440,4.0,13000,742721012,Completed,0.893122
491,FOOD-11048,5000,2018-09-28T19:11:10.841285,3518,48100,940042,4.0,2000,742574142,Completed,0.831023
540,FOOD-10794,0,2018-09-13T18:58:37.400931,1875,47900,845548,4.0,14000,742623858,Completed,0.670771
545,FOOD-10024,0,2018-07-03T16:59:05.943102,772,94800,532173,1.0,4000,742650217,Completed,0.463585
599,FOOD-10301,0,2018-07-30T13:02:42.141731,1298,63100,395715,4.0,4000,742688374,Completed,0.783639
605,FOOD-10294,0,2018-07-29T12:57:05.523902,1495,61500,395715,4.0,0,742538222,Completed,0.527869
622,FOOD-10018,0,2018-07-02T20:37:07.569905,1915,27800,1470304,4.0,4000,742710752,Completed,0.073021
701,FOOD-10311,0,2018-07-31T10:05:38.625000,3577,252600,1505030,4.0,13000,742550052,Completed,0.991820
719,FOOD-10554,0,2018-08-23T18:16:40.510214,1285,155700,1505030,4.0,9000,200001973,Completed,0.915638
729,FOOD-10130,0,2018-07-13T20:19:37.306547,1222,68200,594262,4.0,10000,742601338,Completed,0.279405
827,FOOD-10565,0,2018-08-24T12:13:00.042608,1936,365800,1505030,4.0,20000,742526724,Completed,0.912690
887,FOOD-10361,0,2018-08-04T19:52:59.551944,2117,86400,1220358,4.0,10000,742570428,Completed,0.644388
900,FOOD-11024,4000,2018-09-26T20:39:55.538586,1479,21800,940042,3.0,0,742709959,Completed,0.353307
913,FOOD-11066,0,2018-09-30T15:32:29.174246,1713,43200,845548,4.0,11000,742749609,Completed,0.015804
930,FOOD-10693,0,2018-09-04T19:04:09.418634,1404,112700,59565,4.0,9000,742596789,Completed,0.073947
938,FOOD-10151,0,2018-07-15T12:24:14.282470,1686,55100,1392044,3.0,10000,742529904,Completed,0.776684
971,FOOD-10785,0,2018-09-13T09:41:01.782716,2279,177800,1505030,4.0,17000,742541893,Completed,0.485909
1048,FOOD-10431,0,2018-08-11T16:00:41.936249,1797,131200,1220358,3.0,9000,742587112,Completed,0.253443
1053,FOOD-10954,0,2018-09-22T14:10:04.789447,3292,40600,1230166,4.0,10000,742538207,Completed,0.609392

In [28]:
Resto_rating_dibawah_5[["rating","resto_id"]]

      rating   resto_id
67       4.0  742526724
102      3.0  742534610
161      3.0  742763083
283      4.0  742531591
319      4.0  742678768
330      4.0  742721012
491      4.0  742574142
540      4.0  742623858
545      1.0  742650217
599      4.0  742688374
605      4.0  742538222
622      4.0  742710752
701      4.0  742550052
719      4.0  200001973
729      4.0  742601338
827      4.0  742526724
887      4.0  742570428
900      3.0  742709959
913      4.0  742749609
930      4.0  742596789
938      3.0  742529904
971      4.0  742541893
1048     3.0  742587112
1053     4.0  742538207